.card-container{
	/* display: flex;
	flex-direction: row; */
	/* align-items: center; */
	width: 950px;
	margin-bottom: 20px;
	/* width: 65%; */
}

.title{
	margin: 10px 0;
	font-weight: 700;
}

.details{
	cursor: pointer;
}

